
.body {
  width: 100%;
  height: 100%;
}
#cell {
  float:left;
  position:relative;
}
#cellState {
  height: 100%;
  width: 100%;
}
#vax {
  position: absolute;
  margin-top:-35%;
  margin-left: 75%;
  height: 75%;
  width: 75%;
  float: right;
}
#stats {
  border: solid 1px;
  width: 25%;
  height: 25%;
}
#stat {
  float: left;
  margin-top:2.5%;
  margin-left:2.5%;
  width: 90%;
  height: 90%;
  text-size: 900;
}
#panel {
  float: left;
  margin: 0px;
  border: solid 2px;
  border-radius: 40px;
  width: 20%;
  margin: 1%;
}
#petriDish {
  width:75%;
  height: 75%;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#rangeViewer {

  width:19.5vw; height:19.5vw;
  margin-left:0vw;
}
.neighborhood {
  border: solid 2px;
  border-radius: 40px;
  float:left;
  width:40vw;
  height:40vw;
  margin: 4%;
}
#graph {
  border: solid 2px;
  border-radius: 40px;
  float:left;
  width:70%;
  height:40vw;
  margin: 2%;
}
#settings {
  float: left;
  width:100%;
  height:100%;
  font-weight: 900;
  font-family: Helvetica;
  text-align: left;
}
#subSettings {
  box-sizing: border-box;
  float: left;
  width: 50%;
  margin-bottom:50px;
}
#slider {
  font-weight: 400;
  font-family: Helvetica;
  text-align: center;
  border-bottom: 1px solid black;
}
.sliderInput {
  width:96%;
}
.sliderText {
  font-size:100%;
  margin-top:-2%;
  float:right;
}
.topStats {
  box-sizing: border-box;
  float: left;
  width:50%;
  margin-top:2%;
  font-family: Helvetica;
  text-align: center;
  font-size:250%;
  font-weight: 900;
}
#days {
  font-family: Helvetica;
  text-align: center;
  font-weight: 900;
}
#text {
  font-family: Helvetica;
  text-align: center;
  font-weight: 900;
}
#rNaught {
  font-family: Helvetica;
  text-align: center;
  font-weight: 900;
}
